.left {
    position:relative;
    height:100%;
    min-height:200px;
    width:100%;
    min-width:200px;
    background:#49a094;
}

.left #menu {
    position:relative;
    margin:0;
    padding:0;
    width:100%;
    list-style:none;
}

.left #menu li {
    height:50px;
    color:white;
    cursor:pointer;
}

.left #menu li:hover {
    background:#61d2c2;
}

.left #menu li.selected {
    background:#61d2c2;
}

.left #menu li a {
    text-decoration:none;
    color:white;
    display:inline-block;
    height:50px;
    line-height:50px;
    width:100%;
    text-indent:20px;
}

.left .logo {
    background:url('../../images/logo.png') no-repeat 20px center;
    height:80px;
}